<%- include ('vistas') %>
<%if(text){%>
    <script>
      alert('<%= text %>');
    </script>
    <%}%>
<form action="/agregarDiaTurnoVeterinaria" method="POST" onsubmit="return validarFecha()" >
    <label for="tipo" class="form-control">Elegir Veterinaria de turno:</label>
    <select id="tipo" name="veterinariaElegida" required>
      <% for(var i = 0; i < veterinarias.length; i++) { %>
        <option value=<%= veterinarias[i].nombre %>><%= veterinarias[i].nombre %></option>
      <% } %>
    </select><br><br>
    <label for="dia" class="form-control">Día: Debe ser una fecha válida</label>
    <input type="date" id="dia" name="dia" required><br><br>
  

  <button class="btn btn-info-orange" type="submit">Guardar</button>
</form>

<script>
    function validarFecha() {
      var fechaInput = document.getElementById("dia").value;
      var fechaActual = new Date().toISOString().split("T")[0];
  
      if (fechaInput <= fechaActual) {
        alert("La fecha ingresada no es válida. Debe ser mayor a la fecha actual.");
        return false; // Evita que el formulario se envíe
      }
  
      return true; // Permite que el formulario se envíe
    }
  </script>
<%- include ('partials/_footer') %>