<%- include ('vistas') %>

<ul class="list_adopcion">
  <% if (data){%>

  <% for(var i=0; i<data.length; i++) { %>
      <li class="adopcion_lis">
          <div class="card" style="width: 18rem;">
              <div class="card-header">
                  Perro del cliente <%= data[i].nombrecliente %>
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= data[i].nombre %></h5>
                <h5 class="card-title"><%= data[i].edad %></h5>
                <h5 class="card-title"><%= data[i].tamaño %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= data[i].detalle %></h6>
              </div>
          </div>
      </li>
 <% } %>
 <% } %>
</ul>

<%- include ('partials/_footer') %>
