<%- include ('vistas') %>
<style>
    
    .list_adopcion{
    width:100%;
    height:50px;
    text-align:center;
}
.adopcion_lis{
 
 margin-right:10px;
}
</style>
<body>
<h3 align="center">Mis Publicaciones</h3>

<ul id="listaPerdidos" style="list-style-type:none;">
    <% var perdidos=data.filter(x=>
      x.perdidooencontrado==1);
      for(var i=0; i<perdidos.length; i++) { %>

        <%- include('partials/_publicacionPerroPerdido', {data: perdidos[i]}); %>

          <% } %>
  </ul>
  <ul id="listaEncontrados" style="list-style-type:none;">

    <% var encontrados=data.filter(x=>
      x.perdidooencontrado==0);
      for(var i=0; i<encontrados.length; i++) { %>

        <%- include('partials/_publicacionPerroEncontrado', {data: encontrados[i]}); %>

          <% } %>
  </ul>
  
<script src="script.js"></script>
<ul class="list_adopcion" >
    
    <% for (var i=0;i<data1.length;i++){%>
        <li class="adopcion_lis">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Adopcion
                </div>
                <div class="card-body">
                <h5 class="card-title"><%= data1[i].nombredepublicacion %></h5>
                <p class="card-text">Nombre: <%=data1[i].nombre%></p>
                <p class="card-text">Edad: <%=data1[i].edad%></p>
                <p class="card-text">Raza: <%=data1[i].raza%></p>
                <p class="card-text">Tamaño: <%=data1[i].tamaño%></p>
                <p class="card-text">Descipcion: <%=data1[i].texto%></p>
                <a class="btn btn-info-orange"type='button' onclick='contactar("<%= data1[i].id%>")'id='boton<%=data1.id%>'>Contactar</a>
                <% if (user){%>
                    <% if(user.email == data[i].cliente){%>
                        <a href="/adoptado/<%= data1[0].id %>" type="button" class="btn btn-info-orange" onclick="return Confirmar_adoptar()">Adoptado</a>

                        <a href="/delete_adopcion/<%= data1[0].id %>" type="button" class="btn btn-info-orange" onclick="return Confirmar()">Eliminar</a>                       
                    <% } %>
                <%} %>
                </div>
            </div>
        </li> 
       
        <%}%>
</ul>
<script type="text/javascript" src="script.js"></script>
</body>
<%- include ('partials/_footer') %>
