<%- include ('vistas') %>
<head>
  <title>Información de la mascota</title>
</head>
<body>
  <h1 align="center">Información de la mascota</h1>
  <div align="center"class="pet-info">
    <p>nombre:<%=mascota[0].nombre%></p> 
    <p> Edad: <%=mascota[0].edad%></p>
    <p class="owner">Dueño: <%=mascota[0].cliente%><span id="ownerName"></span></p>

    <p> <img src="data/uploads/<%=mascota[0].foto%>"></p> 
    <p>detalle:<%=mascota[0].detalle%></p>
  </div>
</body>
<%- include ('partials/_footer') %>
